html
  head
    meta(name='viewport', content='user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')

    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/styles.css")

    script(type="text/javascript", src="js/jquery.js")
    script(type="text/javascript", src="js/lodash.modern.min.js")
    script(type="text/javascript", src="js/backbone-min.js")
    script(type="text/javascript", src="js/validator.js")

    title Code Validator

  body
    .my-container
      .status
        span &nbsp;

      .display
        .letter_box 
          span 
        .letter_box 
          span 
        .letter_box 
          span 
        .letter_box 
          span 

      .num-pad
        .letter_box
          span 1
        .letter_box
          span 2
        .letter_box
          span 3
        br
        .letter_box
          span 4
        .letter_box
          span 5
        .letter_box
          span 6
        br
        .letter_box
          span 7
        .letter_box
          span 8
        .letter_box
          span 9
        br
        .letter_box
          span 0
